.bs-lib-scroll-to-top--fixed {
  display: none !important;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
}

.bs-lib-scroll-to-top--show {
  display: block !important;
}

.bs-lib-scroll-to-top--fade-out {
  opacity: 0.8;
}
